/CalculadoraDeCalificaciones/nbproject/private/
/CalculadoraDeCalificaciones/build/
/verificar_edad/nbproject/private/
/verificar_edad/build/
/calificacion_con_letras/nbproject/private/
/calificacion_con_letras/build/
/precio_descuento/nbproject/private/
/precio_descuento/build/
/estaciones_del_año/nbproject/private/
/estaciones_del_año/build/
/convertidor_de_grados/nbproject/private/
/convertidor_de_grados/build/
/convertidor_de_divisas/nbproject/private/
/convertidor_de_divisas/build/
/buscar_informacion/nbproject/private/
/factorial/nbproject/private/
/factorial/build/
/conteo_de_numeros/nbproject/private/
/conteo_de_numeros/build/
/conteo_letra_a/nbproject/private/
/conteo_letra_a/build/
/divisibles_entre_y_5/nbproject/private/
/divisibles_entre_y_5/build/
/divisibles_entre_y_5/dist/
/contador_de_digitos/build/
/adivina_el_numero/nbproject/private/
/adivina_el_numero/build/
/vocales_o_no_vocales/nbproject/private/
/vocales_o_no_vocales/build/
/media_de_numeros_positivos/nbproject/private/
/media_de_numeros_positivos/build/
/calculadora_basica/nbproject/private/
/calculadora_basica/build/
